:root {
  --bodyColor: #57636c;
  --primary: #5093f7;
  --secondary: #22262a;
  --success: #4a8d16;
  --successdiv: #75b344;
  --warning: #f7931e;
  --warningdiv: #ffc107;
  --warningdiv1: #fff6e1;
  --danger: #ff4b55;
  --dangerdiv: #e1397d;
  --borderColor: #e7e9eb;
  --dark: #000000;
  --white: #ffffff;
  --gray1: #f7f7f7;
  --gray2: #e9f2ff;
  --gray3: #fff4e7;
  --gray4: #fcfcfc;
  --boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --transition: all ease 0.5s;
  --fontFamilyRegular: "Satoshi-Regular";
  --fontFamilyMedium: "Satoshi-Medium";
  --fontFamilyBold: "Satoshi-Bold";
  --fontSize13: 13px;
  --fontSize14: 14px;
  --fontSize15: 15px;
  --fontSize16: 16px;
  --fontSize17: 17px;
  --fontSize18: 18px;
  --borderRadius6: 6px;
}
