/* Header Area Style
============================================*/
.ptb-12 {
  padding-top: 7px;
  padding-bottom: 7px;
}
.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.info-link {
  li {
    margin-right: 30px;
    a {
      text-decoration: none;
      font-family: var(--fontFamilyMedium);
      color: var(--secondary);
      font-size: var(--fontSize14);
      &:hover {
        color: var(--primary);
      }
      i {
        font-size: 17px;
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
      span {
        position: relative;
        top: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    .flag-wrap {
      .flag {
        font-family: var(--fontFamilyMedium);
        img {
          position: relative;
          top: -2px;
          margin-right: 5px;
        }
        span {
          color: var(--secondary);
        }
        &::after {
          border: 0;
          content: "\ea4e";
          font-family: remixicon !important;
          font-size: 18px;
          margin-left: 0;
          vertical-align: 0;
          position: relative;
          top: 2px;
          right: -5px;
        }
      }
      .dropdown-menu {
        box-shadow: var(--boxShadow);
        border: 0;
        padding: 10px 0;

        &.toggler {
          display: block;
        }
        li {
          margin-right: 0;
          margin-bottom: 8px;
          &:last-child {
            margin-bottom: 0;
          }
          .dropdown-item {
            &:focus {
              background-color: transparent;
            }
          }
        }
      }
    }
    .currency {
      padding-right: 30px;
      padding-right: 20px !important;
      background-position: right 0 center;
      background-size: 11px 11px;
      cursor: pointer;
      font-family: var(--fontFamilyMedium);
      &:focus {
        box-shadow: none;
      }
    }
  }
  &.info-right {
    li {
      &:first-child {
        margin-right: 57px;
      }
    }
  }
}
.middle-header-left {
  .middle-logo {
    margin-right: 122px;
    &.style-two {
      margin-right: 42px;
    }
  }
  .all-categories {
    height: 45.5px;
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 9px;
    padding-bottom: 10px;
    font-family: var(--fontFamilyBold);
    font-size: var(--fontSize14);
    border-color: #e7e9eb;
    border-radius: 4px 0 0 4px;
    border-right: 0 !important;
    border-width: 2px !important;
    color: var(--secondary) !important;
    &::after {
      border: 0;
      content: "\ea4e";
      font-family: remixicon !important;
      margin-left: 0;
      vertical-align: 0;
      position: absolute;
      right: -4px;
      top: 10px;
      font-size: 18px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -20px;
      width: 1px;
      height: 15px;
      background-color: #e7e9eb;
      z-index: 1;
    }
  }
  .form-control {
    height: 45.5px;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    border-color: var(--borderColor);
    padding-left: 40px;
    width: 485px;
    &::placeholder {
      font-size: 14px;
    }
  }
  .btn {
    font-family: "Satoshi-Bold";
    padding: 10px 23px;
    i {
      margin-right: 5px;
    }
  }
  .btn-primary {
    padding: 8px 23px;
    i {
      font-size: 18px;
      position: relative;
      top: 1px;
      margin-right: 9px;
    }
  }
  .dropdown-menu {
    box-shadow: var(--boxShadow);
    border: 0;
    padding: 10px 0;
    width: 638px;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(0px, 48px);
    &.toggler {
      display: block;
    }
    li {
      margin-right: 0;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      .dropdown-item {
        color: var(--secondary);
        font-family: var(--fontFamilyMedium);
        font-size: 14px;
        white-space: unset;
        &:focus {
          background-color: transparent;
        }
      }
    }
  }
  .search-style-two {
    .form-control {
      height: 45.5px;
      border-radius: 4px 4px;
      border-left: 1px solid var(--borderColor);
      border-color: var(--borderColor);
      padding-left: 20px;
      width: 638px;
    }
  }
}
.middle-header-right {
  .buy-info {
    margin-right: 20px;
    a {
      i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        background: var(--gray1);
        border-radius: 50%;
        font-size: 22px;
        color: var(--secondary);
        transition: var(--transition);
      }
      span {
        font-size: 13px;
        color: var(--bodyColor);
      }
      h3 {
        font-size: 14px;
        margin-bottom: 0;
      }
      .count {
        font-size: 12px;
        font-family: var(--fontFamilyMedium);
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background-color: var(--warning);
        color: var(--white);
        border-radius: 50px;
        position: absolute;
        top: -5px;
        left: 28px;
      }
      &:hover {
        i {
          background-color: var(--primary);
          color: var(--white);
        }
      }
      .me-9 {
        margin-right: 9px;
        margin-inline-end: 9px !important;
      }
      .ms-10 {
        margin-left: 10px;
        margin-inline-start: 10px !important;
      }
    }
    &:nth-child(2) {
      position: relative;
      top: 4px;
    }
    &:last-child {
      margin-right: 0;
      position: relative;
      top: 4px;
    }
  }
  .info {
    margin-right: 68px;
    a {
      i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        background: var(--gray1);
        border-radius: 50%;
        font-size: 22px;
        color: var(--bodyColor);
        transition: var(--transition);
        position: relative;
        top: 2px;
        &.bg-danger-10 {
          color: #e1397d;
          background-color: #ffe0ec;
        }
      }
      span {
        font-size: 13px;
        color: var(--bodyColor);
      }
      h3 {
        font-size: 14px;
        margin-bottom: 0;
      }
      &:hover {
        i {
          background-color: var(--primary);
          color: var(--white);
        }
        .bg-danger-10 {
          color: var(--white);
          background-color: #e1397d;
        }
      }
      .ms-10 {
        margin-left: 10px;
        margin-inline-start: 10px !important;
      }
    }
  }
  .cart-dropdown {
    box-shadow: var(--boxShadow);
    border: none;
    padding: 20px;
    transform: translate(0px, 58px) !important;
    transition: var(--transition);
    position: absolute;
    inset: 0px 0px auto auto;
    margin: 0px;
    max-height: 450px;
    overflow: auto;
    &.toggler {
      display: block;
    }
    &::before {
      content: "";
      position: absolute;
      top: -8px;
      right: 74px;
      background-color: var(--white);
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
    }
    .cart-item {
      margin-bottom: 15px;
      border-bottom: 1px solid var(--borderColor);
      padding-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border: 0;
      }
      img {
        width: 60px;
        border: 1px solid var(--borderColor);
        padding: 5px;
      }
      .text-truncate {
        max-width: 250px;
        span {
          font-size: 16px;
        }
        h3 {
          margin-top: 5px;
          font-size: 12px;
          margin-bottom: 0;
        }
      }
      .dropdown-item {
        background-color: transparent;
      }
      .delete-btn {
        font-size: 20px;
        color: var(--danger);
        i {
          color: var(--danger);
        }
      }
    }
  }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .info-link {
    li {
      margin-right: 15px;
    }
    &.info-right {
      li {
        &:first-child {
          margin-right: 10px;
          i {
            display: none;
          }
        }
      }
    }
  }
  .middle-header-right {
    .buy-info {
      margin-right: 10px;
    }
    .info {
      margin-right: 0;
      a {
        h3 {
          font-size: 12px;
        }
      }
    }
    .cart-dropdown {
      width: 290px;
    }
  }
  .middle-header-left {
    .form-control {
      width: 100%;
    }
    .all-categories {
      padding-right: 15px;
    }
    .btn-primary {
      padding: 8px 13px;
    }
    .search-style-two {
      .form-control {
        width: 300px;
      }
    }
    .dropdown-menu {
      width: 295px;
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .info-link {
    &.info-right {
      li {
        &:first-child {
          i {
            display: inline-block;
          }
        }
      }
    }
  }

  .middle-header-left {
    .search-style-two {
      .form-control {
        width: 500px;
      }
    }
    .dropdown-menu {
      width: 358px;
    }
  }
  .middle-header-right {
    .info {
      margin-right: 10px;
      a {
        h3 {
          font-size: 12px;
        }
      }
    }
  }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .info-link {
    &.info-right {
      li {
        &:first-child {
          margin-right: 30px;
        }
      }
    }
  }
  .middle-header-left {
    .form-control {
      width: 315px;
    }
    .dropdown-menu {
      width: 467px;
    }
  }
}

/* Min width 600px to Max width 960px */
@media only screen and (min-width: 600px) and (max-width: 960px) {
  .top-header-area {
    .v-row {
      .v-col-md-5,
      .v-col-lg-6,
      .v-col-12 {
        width: auto;
      }
      .v-col-12 {
        flex: auto;
      }
    }
  }
}

/* Min width 960px to Max width 1280px */
@media only screen and (min-width: 960px) and (max-width: 1280px) {
  .top-header-area {
    .v-row {
      .v-col-md-5,
      .v-col-lg-6,
      .v-col-12 {
        width: auto;
      }
      .v-col-12 {
        flex: auto;
      }
    }
  }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .middle-header-left {
    .form-control {
      width: 315px;
    }
    .middle-logo {
      margin-right: 33px;
      &.mr-15 {
        margin-right: 15px;
      }
    }
    .search-style-two {
      .form-control {
        width: 410px;
      }
    }
    .dropdown-menu {
      width: 468px;
    }
  }
  .middle-header-right {
    .info {
      margin-right: 20px;
      a {
        h3 {
          font-size: 12px;
        }
      }
    }
  }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .middle-header-left {
    .form-control {
      width: 420px;
    }
    .middle-logo {
      margin-right: 68px;
    }
    .search-style-two {
      .form-control {
        width: 580px;
      }
    }
    .dropdown-menu {
      width: 574px;
    }
  }
  .middle-header-right {
    .info {
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .middle-header-area {
    border-bottom: 1px solid var(--borderColor);
  }
}
